<h1>Add new Section</h1>
<%= link_to("Go Back", {:action => 'index'})%>
<div class= "add sections">
	<%= form_for(:section, :url =>{:action => 'create'}) do |f|%>
	<table>
		<tr>
			<td>Name</td>
			<td><%=f.text_field(:name)%></td>
		</tr>
		<tr>
			<td>Postion</td>
			<td><%=f.text_field(:position)%></td>
		</tr>
		<tr>
			<td>Visible</td>
			<td><%=f.text_field(:visible)%></td>
		</tr>
		<tr>
			<td>Content Type</td>
			<td><%=f.text_field(:content_type)%></td>
		</tr>
		<tr>
			<td>content</td>
			<td><%=f.text_field(:content)%></td>
		</tr>
	</table>
	<div class ="form-buttons">
		<%=submit_tag("create New Section")%>
	</div>

	<%end%>

</div>