<div class ="SHOW PAGE ">
<h1>Show Each section here</h1>

<table>
	<tr>
		<td>NAME</td>
		<td><%= @section.name%></td>
	</tr>
	<tr>
		<td>POSITION</td>
		<td><%= @section.position%></td>
	</tr>
	<tr>
		<td>VISIBLE</td>
		<td><%= @section.visible ? 'yes' : 'No'%></td>
	</tr>
		<tr>
		<td>CONTENT TYPE</td>
		<td><%= @section.content_type%></td>
	</tr>
		<tr>
		<td>CONTENT</td>
		<td><%= @section.content%></td>
	</tr>
</table>


</div>