<% if !flash[:notice].blank? %>
<div class ="notice">
  <%= flash[:notice] %>
</div>
<%end%>

<div class= "Pages">
<h1>Show Pages</h1>
<%= link_to("Add New pages", {:action=>'new'}, :class => 'action new') %>
<table class = "listing">
	<tr class= "header">
		<th>&nbsp;</th>
		<th>name</th>
		<th>permalink</th>
		<th>position</th>
		<th>Visible</th>
		
</tr>
	<% @pages.each do|f| %>
<tr>
	<td>&nbsp;</td>
	<td class = "center"><%=f.name%></td>
	<td class = "center"><%=f.permalink%></td>
	<td class = "center"><%=f.position%></td>
	<td class = "center"><%=f.visible ? 'yes' : 'No' %></td>
	<td class = "actions"><%= link_to("Show", {:action => 'show', :id => f.id }, :class => 'action show') %>
	                      <%= link_to("Edit", {:action => 'edit', :id => f.id }, :class => 'action show') %>
	                      <%= link_to("Delete", {:action => 'delete', :id => f.id }, :class => 'action show') %></td>

	</tr>
	<%end%>
</table>

</div>